{
  "plugins": ["svelte3", "react"],
  "extends": ["airbnb"],
  "rules": {
    "quotes": ["error", "double"],
    "indent": "off",
    "no-underscore-dangle": "off",
    "arrow-parens": "off",
    "implicit-arrow-linebreak": "off",
    "operator-linebreak": "off",
    "object-curly-newline": "off",
    "function-paren-newline": "off",
    "no-confusing-arrow": "off",
    "no-continue": "off",
    "no-plusplus": "off"
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": ["**/*.svelte"],
      "processor": "svelte3/svelte3",
      "rules": {
        "quotes": "off",
        "import/first": "off",
        "import/no-duplicates": "off",
        "import/no-mutable-exports": "off",
        "import/extensions": "off",
        "import/no-unresolved": "off",
        "import/prefer-default-export": "off",
        "no-multiple-empty-lines": "off",
        "no-undef": "off",
        "prefer-const": "off"
      }
    },
    {
      "files": ["cypress/**/*"],
      "plugins": ["cypress"],
      "extends": ["plugin:cypress/recommended"],
      "env": {
        "cypress/globals": true
      },
      "rules": {
        "spaced-comment": "off",
        "import/no-extraneous-dependencies": "off"
      }
    }
  ]
}
