*.svelte linguist-language=HTML
* text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.avif binary
*.jxl binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
*.pyc binary
*.pdf binary
