node_modules
.nyc_output
.vscode
.github
coverage
coverage-jest
coverage-cypress
reports
example
test
cypress
.babelrc
.editorconfig
.eslintignore
.eslintrc
.prettierignore
.prettierrc.js
cypress.json
jest.config.js
rollup.config.js
yarn.lock
CODE_OF_CONDUCT.md
CONTRIBUTING.md
